In [1]:
# 연습문제
#1. 국어 : 80, 영어 : 75, 수학 : 55일 때 평균점수는?

korean = 80
english = 75
math = 55

sum = korean + english + math

print(sum / 3)

70.0

In [2]:
#2. 17을 3으로 나누었을 때 몫은?

17 // 3

5

In [3]:
#3. 17을 3으로 나누었을 때 나머지는?

17 % 3

2

In [4]:
#4. 주어진 자연수가 홀수인지 짝수인지?

# num % 2 == 0 : 짝수
# num % 2 == 1 : 홀수

In [5]:
# 실습문제
# 123의 자료형을 나타내는 코드?

type(123)

int

In [6]:
# 6을 3으로 나눈 값은?

6 / 3

2.0

In [7]:
# 234의 자료형은?
type(234)

int

In [9]:
# 6을 3으로 나눈 값의 자료형은?

type(6 / 3)

float

In [10]:
# 6 - 4 값의 자료형은?

type(6 - 4)

int

In [11]:
# 6 - 5.0의 자료형은?

type(6 - 5.0)

float

In [12]:
# 6의 3제곱 값은?

6 ** 3

216

In [13]:
# 2의 3제곱 값은?

2 ** 3

8

In [14]:
# 10을 3으로 나눈 나머지는?

10 % 3

1

In [15]:
# 10을 3으로 나눈 정수 몫은?

10 // 3

3

In [16]:
# 6을 7로 나눈 정수 몫은?

6 // 7

0

In [19]:
# 100을 3으로 나눈 정수 몫을 10으로 나눈 나머지는?

(100 // 3) % 10

3

In [20]:
# 6을 8로 나눈 나머지는?

6 % 8

6

In [21]:
a = 3;
a += 0.5;
print(a);

3.5

In [22]:
a = 3;
a -= 0.5;
print(a);

2.5

In [23]:
a = 3;
a *= 0.5;
print(a);

1.5

In [24]:
a = 30;
a %= 10;
print(a);

0

In [25]:
a = 30;
a //= 7;
print(a);

4

In [26]:
a = 30;
a **= 2;
print(a);

900

In [3]:
# 실습문제
# string을 print하는 다양한 코드를 작성하시오 (3-6가지 코드)
a = '\"I love \n\"Hotdog\"!!\"'
b = "\"I love \n\"Hotdog\"!!\""
c = '''"I love \n"Hotdog"!!"'''
d = """\"I love \n"Hotdog"!!\""""
e = '''"I love
"Hotdog"!!"'''
f = """\"I love
"Hotdog"!!\""""
g = '''\"I love \n\"Hotdog\"!!\"'''
h = """\"I love \n\"Hotdog\"!!\""""
i = '"I love \n"Hotdog"!!"'
# 맨 처음에는 "을 네 개 쓰면 "을 \없이도 "로 인식함
j = """"I love
"Hotdog"!!\""""
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"
"I love
"Hotdog"!!"

In [11]:
# 문자열 연습문제

# 문자열을 출력하시오

str = '''"점프 투 파이썬" 문제를 풀어보자'''
print(str)

"점프 투 파이썬" 문제를 풀어보자

In [12]:
# 문자열을 출력하시오

str1 = """Life is too short
You need Python"""
print(str1)

Life is too short
You need Python

In [13]:
# 문자열 앞에 공백 24개를 추가하시오

str2 = "PYTHON"
space = " "
str2 = space * 24 + str2
print(str2)

                        PYTHON

In [23]:
# 홍길동 씨의 주민번호는 881120-1068234
# 홍길동씨의 주민등록번호를 (YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력

number = "881120-1068234"
print(number[:6])
print(number[7:])

881120
1068234

In [19]:
# 주민등록번호에서 성별(1, 2)을 나타내는 숫자를 출력

pin = "881120-1068234"
print(pin[7])

1

In [20]:
# 1980M1120 -> M19801120으로 변경하시오

str = "1980M1120"
str = str[4] + str[:4] + str[5:]
print(str)

M19801120