In [1]:
# 연습문제
# 1. 리스트를 집합 자료형으로 변환

myList = ['a', 'b', 'c']
mySet = set(myList)
mySet

{'a', 'b', 'c'}

In [2]:
# 2. Set을 이용하여 중복된 숫자 제거

a = [1, 1, 1, 2, 2, 3, 3, 3, 4 ,4, 5]
a = set(a)
a

{1, 2, 3, 4, 5}

In [3]:
# 3. s1의 항목 중 s2에 포함된 항목 제거

s1 = set(['a', 'b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])

s1 - s2
# s1.difference(s2)

{'a', 'b'}

In [8]:
# 4. 비어있는 집합 자료형은 어떻게 만들까?

emptySet = set()
type(emptySet)

set

In [9]:
# 5. 집합 자료형에 값들 추가

a = {'a', 'b', 'c'}
b = ['d', 'e', 'f']
a.update(b)
a

{'a', 'b', 'c', 'd', 'e', 'f'}

In [10]:
# Bool 연습문제는 강의록에서 확인
bool(0)

False

In [31]:
# 실습문제

#자료형 연습 문제 
#%% 23 아래의 문자열에서 '홀' 만 출력하라.
string = "홀짝홀짝홀짝"

string = string[0] + string[2] + string[4]
string

'홀홀홀'

In [2]:
#%% 26 아래의 전화번호에서 하이픈 ('-')을 제거하고 '01011112222' 출력하라.

phone_number = "010-1111-2222"

print(phone_number[:3] + phone_number[4:8] + phone_number[9:])

nohyphen=phone_number.replace("-","")
print(nohyphen)

01011112222
01011112222

In [33]:
#%% 29 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하라.(replace 함수 사용)

string = 'abcdfe2a354a32a'

print(string.replace('a','A'))

Abcdfe2A354A32A

In [34]:
#%% 15 'python java python java python java python java '가 출력되도록 아래에서 나머지 코드를 작성하라 

t1 = 'python'
t2 = 'java'

t = t1 + " " + t2 + " "
print(t * 4)

python java python java python java python java

In [4]:
#%% 19 문자열 '720'를 정수형으로 변환하라.

num_str = "720"

int(num_str)

# 다시 string으로 바꾸기
type(str(num_str))

str

In [38]:
# 43 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. 
#"슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [39]:
#%% 47 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

print(min(nums))
print(max(nums))

1
7

In [40]:
#%% 48 다음 리스트의 합을 출력하라. (sum() 함수 사용)
nums = [1, 2, 3, 4, 5, 6, 7]

print(sum(nums))

28

In [41]:
#%% 49 다음 리스트에 저장된 데이터의 개수를 화면에 구하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]

len(cook)

12

In [42]:
#%% 50 다음 리스트의 평균을 출력하라.

nums = [1, 2, 3, 4, 5]

count = len(nums)
plus = sum(nums)

print(plus/count)

3.0

In [43]:
#%%  56 interest 리스트를 '삼성전자 LG전자 Naver SK하이닉스 미래에셋대우' 로 출력하는 코드를 작성하시오 

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

" ".join(interest)

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [44]:
#%% 57 interest 리스트를 '삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우' 로 출력하는 코드를 작성하시오
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

'/'.join(interest)

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [45]:
#%% 58
'''
interest 리스트를 
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우 로 출력하는 코드를 작성하시오 
'''
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

# print를 넣지 않으면 개행이 되지 않음!!
print('\n'.join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [46]:
#%% 59 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 
#이를 interest 이름의 리스트로 분리 저장하라. (예. ['삼성전자', 'LG전자', 'Naver'])

string = "삼성전자/LG전자/Naver"

string.split('/')

['삼성전자', 'LG전자', 'Naver']

In [47]:
#%% 87 icecream 딕셔너리에서 아이스크림 판매 금액의 평균을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

length = len(icecream)
plus = sum(icecream.values())

print(plus/length)

1340.0

In [48]:
#%% 88 아래의 new_product 딕셔너리를 icecream 딕셔너리에 추가하라. (update() 함수 사용)

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
icecream

{'탱크보이': 1200,
 '폴라포': 1200,
 '빵빠레': 1800,
 '월드콘': 1500,
 '메로나': 1000,
 '팥빙수': 2700,
 '아맛나': 1000}

In [49]:
#%% 89 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
#zip() 함수 사용 

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}