In [11]:
a = [1, 2, 3]

In [12]:
type(a)

list

In [13]:
b = [1, 'a', [2, 3, 4], [2, 'b']]

In [14]:
b

[1, 'a', [2, 3, 4], [2, 'b']]

In [16]:
# 리스트의 인덱싱
# 인덱싱은 0부터 시작!

b[0]

1

In [17]:
# 리스트의 이중 인덱싱

b[2][0]

2

In [26]:
# 인덱스로 음수가 들어가면 맨 뒤부터 시작

b[-1]

[2, 'b']

In [27]:
b[2][1:]

[3, 4]

In [20]:
c = [1, 2, 3, 'a', [2, 3, 4], [2, 'b']]

In [21]:
c[1] + c[2]

5

In [22]:
# c에서 문자열 잇기

c[3] + c[-1][-1]

'ab'

In [23]:
d = [1, 2, 3, 4, 5]

In [24]:
# 리스트의 슬라이싱
# 처음 인덱스는 포함, 마지막 인덱스는 포함하지 않음!

d[:2]

[1, 2]

In [25]:
d[2:]

[3, 4, 5]

In [28]:
# 리스트 합치기
# 리스트에 리스트가 들어가는 것이 아니라, 하나의 리스트로 합쳐짐

a + d

[1, 2, 3, 1, 2, 3, 4, 5]

In [29]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [31]:
# 리스트와 문자열은 합칠 수 없다!
# a + 'hi' => X
# 따라서 리스트를 문자열로 바꾸고 붙이기

str(a) + 'hi'

'[1, 2, 3]hi'

In [32]:
# 리스트 내부의 값 변경

a = [1, 2, 3]

In [33]:
a[1] = 5

In [34]:
a

[1, 5, 3]

In [35]:
# 슬라이스를 통해 내부의 값 변경

a[1:] = [5, 6, 7]

In [36]:
a

[1, 5, 6, 7]

In [37]:
# 특정 자리를 리스트로 대체하기 => 리스트 안에 리스트

a[1] = [2, 3, 4]

In [38]:
a

[1, [2, 3, 4], 6, 7]

In [39]:
a[1:2] = [2, 3, 4]

In [40]:
a

[1, 2, 3, 4, 6, 7]

In [41]:
# 내용 삭제

del a[2]

In [42]:
a

[1, 2, 4, 6, 7]

In [43]:
del a[1:4]

In [44]:
a

[1, 7]

In [45]:
# 리스트의 길이

len(a)

2

In [47]:
# 리스트 요소 추가
# append

a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [51]:
a = [1, 2, 3, 4]
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [52]:
# 정렬
# sort

a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [53]:
# 리스트 뒤집기
# reverse

a = ['a', 'b', 'c']
a.reverse()
a

['c', 'b', 'a']

In [55]:
# 위치 반환
# index
# 문자열과 달리, find는 없음!!

a = [1, 2, 3]
a.index(1)

0

In [58]:
# 리스트에 요소 삽입
# insert(a, b)
# a위치에 b삽입

a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [59]:
# 요소 제거
# remove
# 같은 요소가 있는 경우, 앞에서부터 제거

a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [60]:
# 요소 꺼내기
# pop

a = [1, 2, 3]
print(a.pop())
print(a)

3
[1, 2]

In [61]:
# 요소 X의 개수 세기
# count

a = [1, 2, 3, 1]
a.count(1)

2

In [63]:
# 리스트 확장
# extend(x)
# x에는 리스트만 올 수 있고, 원래 리스트에 x리스트를 더한다

a = [1, 2, 3, 3, 3, 4, 5]
a.extend([7, 8])
a

[1, 2, 3, 3, 3, 4, 5, 7, 8]

In [64]:
# 튜플

t = ()
type(t)

tuple

In [65]:
t = (1, 2, 3, 4, 5)
t

(1, 2, 3, 4, 5)

In [67]:
# 튜플에서 요소가 하나인 경우, 콤마를 꼭 찍는다!

t = (1,)
type(t)

tuple

In [68]:
# 튜플 안에는 여러 종류의 데이터가 들어갈 수 있지만, 변경이 어려움

t = (1, 2, 3, 'a', [1, 2, 3], (4, 5), ('b', 1))
t

(1, 2, 3, 'a', [1, 2, 3], (4, 5), ('b', 1))

In [71]:
# 튜플은 직접적으로 delete 불가능
# del(t[0])
# 튜플은 인덱싱으로 값 변경도 불가능
# t[3] = 'c'

In [73]:
# 인덱싱 및 슬라이싱 가능
print(t[2])
print(t[3:5])

3
('a', [1, 2, 3])

In [74]:
# 튜플 합치기

t1 = (3, 4)
t + t1

(1, 2, 3, 'a', [1, 2, 3], (4, 5), ('b', 1), 3, 4)

In [75]:
# 튜플 곱하기

t1 * 3

(3, 4, 3, 4, 3, 4)

In [1]:
# 딕셔너리

dic = {}
type(dic)

dict

In [3]:
dict = {'name' : 'Pey', 'phone' : '01022223333', 'birth' : '1118'}
dict

{'name': 'Pey', 'phone': '01022223333', 'birth': '1118'}

In [9]:
# key 값으로 string, number, tuple도 가능
# list, dict 불가능

dict1 = {(1,) : 'hi', "2" : 'hello', 3 : 'bye'}
dict1

{(1,): 'hi', '2': 'hello', 3: 'bye'}

In [13]:
# value 값으로는 dict, list도 가능

dict2 = {(1,) : (2, 3) , "2" : [4, 5], 3 : {1 : 2}}
dict2

{(1,): (2, 3), '2': [4, 5], 3: {1: 2}}

In [14]:
# value 리턴하기

dict['name']

'Pey'

In [17]:
# 딕셔너리에 없는 값 새로 넣기

dict['address'] = 'mapo'
dict

{'name': 'Pey', 'phone': '01022223333', 'birth': '1118', 'address': 'mapo'}

In [21]:
# 딕셔너리에서 값 삭제

del dict['birth']
dict

{'name': 'Pey', 'phone': '01022223333', 'address': 'mapo'}

In [22]:
# 키 값들을 리턴

dict.keys()

dict_keys(['name', 'phone', 'address'])

In [23]:
# 밸류 값들을 리턴

dict.values()

dict_values(['Pey', '01022223333', 'mapo'])

In [24]:
# 키 밸류 모두 리턴

dict.items()

dict_items([('name', 'Pey'), ('phone', '01022223333'), ('address', 'mapo')])

In [25]:
# 키 밸류 모두 리턴 후 리스트로 변환

list(dict.items())

[('name', 'Pey'), ('phone', '01022223333'), ('address', 'mapo')]

In [26]:
# dict 지우기

dict.clear()
dict

{}

In [27]:
# dict['phone'] 과 dict.get('phone')은 동일한 결과를 돌려받지만,
# 전자는 없는 값을 가져오려하면 오류가 발생되고, 후자는 NONE을 리턴한다.

dict = {'name' : 'Pey', 'phone' : '01022223333', 'birth' : '1118'}
dict.get('phone')

'01022223333'

In [28]:
# get을 쓸 때, 찾으려는 key값이 없는 경우
# 미리 정해둔 디폴트 값을 대신 가져온다.
# 디폴트 값은 아래처럼 생성한다.

dict.get('address','apples')

'apples'

In [29]:
# 해당 키가 딕셔너리에 있는지 확인
# 결과는 boolean으로

'name' in dict

True