In [2]:
# 연습문제
# 1. a 리스트를 이용하여 다음과 같은 문자열을 출력

a = ['Life', 'is', 'too', 'short', 'you', 'need', 'python']

a[4] + " " + a[2]

'you too'

In [11]:
# 2. ['Life', 'is', 'too', 'short']라는 리스트를 Life is too short라는 문자열로 만들어 출력
# join 활용

myList = ['Life', 'is', 'too', 'short']
" ".join(myList)

'Life is too short'

In [6]:
# 3. 리스트의 사이즈 구하기

a = [1, 2, 3]
len(a)

3

In [2]:
# 6. 리스트 삭제
# 주의!!

#my_list = [1, 2, 3, 4, 5]
#del my_list[1]
# 이 위에서 2가 이미 지워지므로, 3, 4, 5가 앞당겨지므로
# 아래에서 인덱싱을 3이 아닌 2로 해야 한다.
#del my_list[2]

my_list = [1, 2, 3, 4, 5]
my_list.remove(2)
my_list.remove(4)

my_list

[1, 3, 5]

In [14]:
# 4. append와 extend의 차이는?

a = [1, 2, 3]
a.append([4, 5])
print(a)
a = [1, 2, 3]
a.extend([4, 5])
print(a)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [15]:
# 5. 리스트 정렬

temp = [1, 3, 5, 4, 2]
temp.sort()
temp.reverse()
print(temp)

[5, 4, 3, 2, 1]

In [16]:
# 연습문제
# 1. 숫자 3만을 값으로 갖는 튜플

t = (3,)
type(t)

# cf) t = (3)으로 하면 type(t) = int

tuple

In [17]:
# 2. 튜플 변경, 오류의 원인은?
# a = (1, 2, 3)
# a[1] = 4
# 튜플은 immutable한 특성을 갖고 있기 때문에, 인덱싱을 통한 값 변경이 불가능하다.
# 내용을 바꾸기 위해서는 a를 새로운 튜플로 대입해야한다.

In [19]:
# 3. 튜플 추가

t = (1, 2, 3)
# tuple을 더해야 하므로, 그냥 4가 아닌 4,를 넣어야 함!!
addNum = (4,)

t + addNum

(1, 2, 3, 4)

In [3]:
# 연습문제
# 1. 딕셔너리로 만들기

dic = {'name' : '홍길동', 'birth' : 1128, 'age' : 30}
dic

{'name': '홍길동', 'birth': 1128, 'age': 30}

In [6]:
# 2. 오류가 발생하는 경우는?

a = dict()
a

a['name'] = 'python'
a[('a',)] = 'python'
# a[[1]] = 'python'
a[250] = 'python'

# key 값으로는 string, int, tuple은 가능하지만,
# list와 dict는 불가능!! (mutable한 데이터는 immutable한 key로 들어갈 수 없다)

In [8]:
# 3. 딕셔너리 값 추출
# B의 값을 얻고, B를 삭제

a = {'A' : 90, 'B' : 80, 'C' : 70}
# print(a.get('B'))
# del a['B']
# print(a)

# 간단한 방법
print(a.pop('B'))
print(a)

80
{'A': 90, 'C': 70}

In [10]:
# 4. 딕셔너리 값 추출
# C에 해당하는 값이 없는 경우, 오류 대신 70을 리턴하도록 하기

a = {'A' : 90, 'B' : 80}
a.get('C', 70)

70

In [12]:
# 5. 딕셔너리에서 최소 값은?

a = {'A' : 90, 'B' : 80, 'C' : 70}
min(a.values())

70

In [14]:
# 6. 딕셔너리 리스트 변환

a = {'A' : 90, 'B' : 80, 'C' : 70}
list(a.items())

[('A', 90), ('B', 80), ('C', 70)]