In [41]:
# 실습문제 1 이어서

# 7.1 range를 매개변수로 받아 숫자들을 쉼표(,)로 연결해 리턴하는 join_numbers 함수를 만드시오.
# 즉, range(9)를 매개변수로 넣으면 다음과 같은 문자열을 리턴하시오.
# 0,1,2,3,4,5,6,7,8

def join_numbers(numbers):
    return ','.join(str(number) for number in numbers)

print(join_numbers(range(9)))

0,1,2,3,4,5,6,7,8

In [43]:
# 7.2 다음과 같은 문자열을 입력받아 숫자만 합하여 총합을 출력하는 함수 sum_numbers()를 구현하시오.

# 10 abc 20 de44 30 55fg 40

def sum_numbers(numbers):
    return sum(int(number) for number in numbers.split() if number.isdigit())

print(sum_numbers('10 abc 20 de44 30 55fg 40'))

100

In [48]:
# 7.3 리스트의 리스트(2차원 리스트)를 패러미터로 받고, 이를 1차원 리스트로 평탄화하여 리턴하는 flatten() 함수를 만드시오.

def flatten(mylist):
    return [one_element for one_sublist in mylist for one_element in one_sublist]

flatten([[1,2],[3,4]])
# [1,2,3,4]

[1, 2, 3, 4]

In [55]:
# 7.5 (딕셔너리 반전하기)다음의 딕셔너리 a의 key를 value로, value를 key로 반전하는 함수 flipped_dict()를 만드시오.
# (모든 key와 value는 중복되지 않고 같은 값을 가지지 않음.)

a = {'a':1,'b':2,'c':3}

def flipped_dict(myDict):
    return {value:key for key, value in myDict.items()}
print(flipped_dict(a))

{1: 'a', 2: 'b', 3: 'c'}

In [56]:
# 7.5 (딕셔너리 반전하기)다음의 딕셔너리 a의 key를 value로, value를 key로 반전하는 함수 flipped_dict()를 만드시오.
# (모든 key와 value는 중복되지 않고 같은 값을 가지지 않음.)

a = {'a':1,'b':2,'c':3}

def flipped_dict(myDict):
    return {myDict[key]:key for key in myDict}
print(flipped_dict(a))

{1: 'a', 2: 'b', 3: 'c'}

In [13]:
# 3.1 출생년도에 대한 리스트 year_lists를 만드시오.
# 출생년도를 첫번째 요소로 하고 1년씩 증가하는 다섯번째 생일까지의 요소를 넣으시오.
# 출생년도가 1980이라고 가정하시오.
# 만나이로 계산하시오.

year_lists = []
start = 1980
for i in range(6):
    year_lists.append(start)
    start += 1
print(year_lists)

[1980, 1981, 1982, 1983, 1984, 1985]

In [ ]:
#리스트 내포 사용

year_lists=[________________________]
print(year_lists)

In [14]:
# 3.2 year_lists의 세살 생일의 년도를 출력하시오. 만으로 계산하시오.

print(year_lists[2])

1982

In [15]:
# 3.3 years_list 중 가장 나이가 많을 때의 년도는?

print(year_lists[-1])

1985

In [16]:
# 3.4 things 리스트를 만드시오.
# 이 리스트는 'mozzarella','cinderella','salmonella' 세 문자열을 요소로 갖는다.

things = ['mozzarella', 'cinderella', 'salmonella']
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [21]:
# 3.5 things 리스트에서 사람 이름의(cinderrella) 첫 글자를 대문자로 바꿔서 출력하시오.(문자열.capitalize() 함수 사용)

things = ['mozzarella', 'cinderella', 'salmonella']
i = 0
for word in things:
    things[i] = word.capitalize()
    i += 1
    
print(things)

['Mozzarella', 'Cinderella', 'Salmonella']

In [24]:
# 3.6 things 리스트의 치즈 요소를 모두 대문자로 바꿔 출력하시오.

things = ['mozzarella', 'cinderella', 'salmonella']
for word in things:
    print(word.upper())

MOZZARELLA
CINDERELLA
SALMONELLA

In [25]:
# 3.7 things 리스트에 질병 요소가 있다면 제거한 뒤 리스트를 출력하시오.

things=['mozzarella','cinderella','salmonella']
things.pop()
things

['mozzarella', 'cinderella']

In [26]:
things=['mozzarella','cinderella','salmonella']
things = things[:2]
things

['mozzarella', 'cinderella']

In [27]:
# 3.8 surprise 리스트를 생성하시오. 이 리스트는 'Groucho','Chico','Harpo' 세 문자열을 요소로 갖는다.

surprise = ['Groucho', 'Chico', 'Harpo']
surprise

['Groucho', 'Chico', 'Harpo']

In [47]:
# 3.15 이차원 딕셔너리 life를 만드시오.
# 최상위 키는 'animals','plants','other' 이다.
# 그리고 'animals'는 각각 'cats','octopi','emus'를 키로 하고 'Henri','Grumpy','Lucy'를 값으로 하는 또 다른 딕셔너리를 참조하고 있다.
# 나머지 요소는 빈 딕셔너리를 참조하시오.
 
life = {'animals' : {'cats' : 'Henri', 'plants' : 'Grumpy', 'emus' : 'Lucy'}, 'plants' : {}, 'other' : {}}
life

{'animals': {'cats': 'Henri', 'plants': 'Grumpy', 'emus': 'Lucy'},
 'plants': {},
 'other': {}}