(숫자,문자열,변수)

2.1 1시간은 몇초인가? 대화식 인터프리터를 사용해서 계산해보시오. 1시간은 60분이고 1분은 60초이다.

2.1 2.1의 결과를 seconds_per_hour 변수에 저장하고 출력하시오.

2.3 1일은 몇초인가? seconds_per_day 변수를 사용하여 결과를 저장하고 출력하시오.

2.5 seconds_per_day를 seconds_per_hour로 나누어 소숫점 이하 결과가 나타나도록 출력하시오.

(리스트, 튜플, 딕셔너리, 셋)

3.1 출생년도에 대한 리스트 year_lists를 만드시오. 출생년도를 첫번째 요소로 하고 1년씩 증가하는 다섯번째 생일까지의 요소를 넣으시오. 출생년도가 1980이라고 가정하시오. 만나이로 계산하시오.

In [26]:
year_lists = []
for i in range(6):
    _________________________
print(year_lists)

[1980, 1981, 1982, 1983, 1984, 1985]

In [110]:
#리스트 내포 사용
year_lists=[________________________]
print(year_lists)

[1980, 1981, 1982, 1983, 1984, 1985]

3.2 year_lists의 세살 생일의 년도를 출력하시오. 만으로 계산하시오.

In [2]:
print(year_lists[__])

NameError: name 'year_lists' is not defined

3.3 years_list 중 가장 나이가 많을 때의 년도는?

In [27]:
print(year_lists[__])

1985

3.4 things 리스트를 만드시오. 이 리스트는 'mozzarella','cinderella','salmonella' 세 문자열을 요소로 갖는다.

In [39]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

3.5 things 리스트에서 사람 이름의(cinderrella) 첫 글자를 대문자로 바꿔서 출력하시오.(문자열.capitalize() 함수 사용)

In [45]:
print(things)

['mozzarella', 'Cinderella', 'salmonella']

3.6 things 리스트의 치즈 요소를 모두 대문자로 바꿔 출력하시오.

In [46]:
things[0].__________

'MOZZARELLA'

3.7 things 리스트에 질병 요소가 있다면 제거한 뒤 리스트를 출력하시오.

In [ ]:
things=['mozzarella','cinderella','salmonella']

In [50]:
things

['mozzarella', 'Cinderella']

or

In [ ]:
things=['mozzarella','cinderella','salmonella']

In [53]:
things

['mozzarella', 'cinderella']

3.8 surprise 리스트를 생성하시오. 이 리스트는 'Groucho','Chico','Harpo' 세 문자열을 요소로 갖는다.

3.15 이차원 딕셔너리 life를 만드시오. 최상위 키는 'animals','plants','other' 이다. 그리고 'animals'는 각각 'cats','octopi','emus'를 키로 하고 'Henri','Grumpy','Lucy'를 값으로 하는 또 다른 딕셔너리를 참조하고 있다. 나머지 요소는 빈 딕셔너리를 참조하시오.

In [67]:
life

{'animals': {'cats': 'Henri', 'ocpoti': 'Grumpy', 'emus': 'Lucy'},
 'plants': {},
 'other': {}}

3.16 life 딕셔너리의 최상위 키를 출력하시오.

dict_keys(['animals', 'plants', 'other'])

3.17 life['animals']의 모든 키를 출력하시오.

dict_keys(['cats', 'ocpoti', 'emus'])

3.18 life['animals']의 모든 값을 출력하시오.

dict_values(['Henri', 'Grumpy', 'Lucy'])

(제어문)

4.1 guess_me 변수에 7을 할당한다. 그리고 값이 7보다 작으면 문자열 'too low'를, 7보다 크면 'too high'를, 7과 같으면 'just right'를 출력하는 조건문(if, elif, else) 를 작성하라.

In [20]:
guess_me = 7

.
.
.

just right

4.2 guess_me 변수에 7을 할당하고 start 변수에 1을 할당한다. start와 guess_me를 비교하는 while 문을 작성하라. start가 guess_me보다 작은 경우에는 'too low'를 출력하고 start와 guess_me가 같은 경우에는 'found it!'을 출력하고 루프를 종료한다. start가 guess_me보다 큰 경우에는 'oops'를 출력하고 루프를 종료한다.

In [27]:
guess_me = 7
start = 3

while True:
    .
    .
    .

oops!

4.3 for 문으로 리스트값 [3,2,1,0]을 출력하시오.

In [3]:
lst = []
.
.


print(lst)

[0, 1, 2, 3]

(모듈, 패키지)

5.1 zoo.py 모듈에서 "Open 9-5 daily" 문자열을 반환하는 hours() 함수를 정의하라. 그리고 zoo 모듈을 임포트하여 hours() 함수를 호출하시오

In [ ]:
import zoo

In [24]:
zoo.hours()

Open 9-5 daily

5.2 zoo 모듈을 menageria 라는 이름으로 import한 후 hours() 함수를 호출하라

In [375]:
menageria.hours()

Open 9-5 daily

5.4 key:value 쌍이 'a':1, 'b':2, 'c':3 인 plain 딕셔너리를 만들어서 출력한 후, 'a'의 value를 'something for a '로 바꾸어 출력하시오.

In [377]:
.
print(plain)

{'a': 1, 'b': 2, 'c': 3}

In [378]:
.
print(plain)

{'a': 'something for a ', 'b': 2, 'c': 3}

5.1 같은 숫자가 나올때까지 주사위 3개를 동시에 무한 반복해서 던집니다.<br>
    같은 숫자는 무엇이고 같은 숫자가 나올때까지 몇번 던졌는지 출력하시오. <br>
    다음 코드를 이용하시오.

In [139]:
import random
random.randrange(1,7)

5

In [26]:
throwCount = 0

while True:
    dice1 = random.randrange(1,7)
    dice2 = random.randrange(1,7)
    dice3 = random.randrange(1,7)

    .
    .
    .

The number matched is 6
The number of throwing the cubes are 16.

6.1 사용자가 숫자를 여러개 입력하면 '+'문자를 입력한 숫자만큼 출력하는 코드를 만들어 실행하시오.<br>
예를 들어 6398을 입력하면 6개, 3개, 9개, 8개의 '+'을 각기 다른 줄에 출력하시오.

In [383]:
user_number = input("Please input the numbers you want to draw '+': ")

num_list = list(user_number)

.
.
.

Please input the numbers you want to draw '+': 3
+++

1.2 숫자 맞히기 게임<br>
    사용자가 1부터 10까지의 숫자 중 하나를 입력하여 미리 지정된 숫자를 맞히는 프로그램이다. 3회까지만 시도할 수 있다. guess_num() 함수를 호출하여 실행한다.

In [ ]:
import random

def guess_num():
    number = random.randint(1,10)
    count = 0
    while True:
        
        count __ _
        if count _ 3:
            print('Oops, 3 trials are done!')
            _____
            
        guess_num = ___(_____("Please enter the number you are guessing!: "))
        
        if guess_num __ ______:
            print("Just right!")
            _____
        elif guess_num _ ______:
            print('too low')
        else:
            print('too high')

In [31]:
#결과: 함수호출

guess_num()

Please enter the number you are guessing!: 5
Too low
Please enter the number you are guessing!: 7
Too high
Please enter the number you are guessing!: 6
Just right!

(함수)

6.3 (비밀번호 생성기 함수) 알파벳 문자열과 정수를 패러미터로 받아 정수에 해당하는 갯수의 알파벳을 문자열에서 랜덤하게 선택해 비밀번호를 생성하는 함수 create_password_generator() 함수를 만드시오.(random.choice()함수를 사용하시오)

In [113]:
import random

In [114]:
def create_password_generator(char, length):
    output = []
    for _______________________:
        output.append(random.choice(char))
    return _______________

In [135]:
print(create_password_generator('aoei340958u20fhjapwe','6'))

8eop80

(함수형 프로그래밍: 리스트 내포)

In [103]:
# 리스트 내포 
[x*x for x in range(5)]

[0, 1, 4, 9, 16]

In [390]:
y=[]
for x in range(5):
    y.append(x*x)
    
print(y)

[0, 1, 4, 9, 16]

In [104]:
# 딕셔너리 내포
{x:x*x for x in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [392]:
y = dict()
for x in range(5):
    y[x] = x*x
    
print(y)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [393]:
# 세트 내포
{x*x for x in range(5)}

{0, 1, 4, 9, 16}

In [131]:
y=[]
for x in range(5):
    y.append(x*x)
y_set = set(y)

print(y_set)

{0, 1, 4, 9, 16}

최종적으로 리스트(딕셔너리, 세트)를 만드는 것이 목적이라면 내포를 사용하고, 각각의 요소에 특정 처리를 하는 것이 목적이면 반복문 사용

7.1 range를 매개변수로 받아 숫자들을 쉼표(,)로 연결해 리턴하는 join_numbers 함수를 만드시오. 즉, range(9)를 매개변수로 넣으면 다음과 같은 문자열을 리턴하시오.<br>
0,1,2,3,4,5,6,7,8

In [105]:
def join_numbers(numbers):
    return ','.join(_________________________________)

print(join_numbers(range(9)))

0,1,2,3,4,5,6,7,8

7.2 다음과 같은 문자열을 입력받아 숫자만 합하여 총합을 출력하는 함수 sum_numbers()를 구현하시오.<br><br>
10 abc 20 de44 30 55fg 40

In [396]:
def sum_numbers(numbers):
    return sum(_____________________________________________ if number.isdigit())

print(sum_numbers('10 abc 20 de44 30 55fg 40'))

100

7.3 리스트의 리스트(2차원 리스트)를 패러미터로 받고, 이를 1차원 리스트로 평탄화하여 리턴하는 flatten() 함수를 만드시오.<br>

flatten([[1,2],[3,4]])<br>
[1,2,3,4]

In [117]:
def flatten(mylist):
    return [___________________________________________________________]

In [119]:
flatten([[1,2],[3,4]])

[1, 2, 3, 4]

7.5 (딕셔너리 반전하기)다음의 딕셔너리 a의 key를 value로, value를 key로 반전하여 return하는 함수 flipped_dict()를 만드시오.<br>
(모든 key와 value는 중복되지 않고 같은 값을 가지지 않음.)

In [120]:
a = {'a':1,'b':2,'c':3}

In [122]:
#1
def flipped_dict(a_dict):
    return {value:key _________________________________}

print(flipped_dict(a))

SyntaxError: invalid syntax (965153205.py, line 3)

In [110]:
#2
def flipped_dict(a_dict):
    return {a_dict[key]:______________________}

print(flipped_dict(a))

[1980, 1981, 1982, 1983, 1984, 1985]

(객체)

 9.1.2 Scoop 클래스를 만들어 flavor 문자열 속성을 만드시오. create_scoops 함수에서 Scoop 인스턴스 3개를 만들어 scoops 리스트에 넣고 이들의 flavor를 출력하시오.

In [402]:
class Scoop: 
    def __init__(self,flavor):
        _____________________

def creat_scoops():
    .
    .
    .

In [126]:
creat_scoops()

apple
berry
banana

9.1.3 Beverage 클래스를 만들고 name, temperature 속성을 만들어 temperature의 기본값을 75로 설정하시오. bev 라는 instance를 만들고 name을 'Soo'로 주어 bev.name이 'Soo', bev.temperature 가 75로 출력되는지 확인하시오.

In [403]:
class Beverage:
    def __init__(__________________________):
        self.name = name
        self.temperature = temperature

In [404]:
bev = Beverage('Soo')

In [405]:
bev.name

'Soo'

In [406]:
bev.temperature

75

9.2 아이스크림 여러 스쿱을 넣을 수 있는 Bowl 클래스를 만들고 bowl 인스턴스를 만들어 bowl의 패러미터로 Scoop 여러개를 받아 이들의 flavor를 모두 추가하는 add_scoops()라는 메소드를 만드시오. print(bowl.scoops[-1])을 통해 마지막 추가된 scoop의 flavor를 출력하시오.

In [128]:
class Scoop: 
    .
    .
        
class Bowl:
    def __init__(self):
        .
    
    def add_scoops(self,*scoops):
        .
        .

In [130]:
s1=Scoop('chocolate')
s2=Scoop('apple')
s3=Scoop('banana')

bowl=Bowl()
bowl.add_scoops(s1,s2)
print(bowl.scoops[-1].flavor)

bowl.add_scoops(s3,s2,s1)
print(bowl.scoops[-1].flavor)

apple
chocolate

181. 데이터 파일을 읽어들여 연도별 출생아 수를 계산하시오. count_baby() 함수에서 연도별 텍스트를 한줄씩 읽어들여 출생아 수만 추출하고 더하여,<br>
그 결과값을 baby_born.csv 파일에 연도별로 저장하시오.<br>


https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-data

In [411]:
import os
os.getcwd()

'/Users/HK/BP/실습문제'

In [5]:
def count_baby():
   
    birth_year = dict()
    
    for i in range(1880,2022):
        total_born = 0
            
        .
        .
        .

In [7]:
count_baby()

181_1. count_baby_gender() 함수에서 데이터 파일을 읽어들여 연도별 성별 출생아 수를 계산하고,<br>
그 결과값을 baby_born_1.csv 파일에 연도별, 성별로 저장하시오.<br>
https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-data

In [4]:
count_baby_gender()

181_2. 데이터 파일을 읽어들여 연도별 성별, 가장 인기있는 이름 상위 10개의 출생아 수를 계산하시오.<br>
그 결과값을 baby_born_2.csv 파일에 연도별, 성별, 인기순위별로 저장하시오.<br>
https://catalog.data.gov/dataset/baby-names-from-social-security-card-applications-national-data