In [18]:
# 종합 실습문제 기말 정독!

# range(10)이면 마지막 10은 포함 X !! [a:b]의 슬라이싱 또한 b는 포함 X !!

# def(함수)에서 반드시 return 여부 확인!!

# if else while for class의 마지막에 : 잘 쓰기

# else if 아니고 elif임!!!

# && , || 아니고 and , or 사용!!

# (46~48번 코드는 반드시 문제의 순서와 같지 않을 수 있음.) => if, elif, else 순서 내가 판단!

# while문에서는 i를 올려주는 애를 따로 설정해야 함!!
# i += 1 꼭 쓰기!!
# while counter <i: 이면 counter < i인 동안 while문 수행! counter == i 이면 탈출!

# indenting 잘 하기

# a++ 안먹으니 a += 1 사용!

# input에서 int안쓰면 string으로 인식!! 3 + 6 = 36 처리
# 아니면 input으로 받을 때 아예 int(input())으로 받기

# print문에서 , 가 있는 경우만 띄어쓰기 처리 print('you','need','python') => you need python

# f.read()는 문자열 형태로 반환
# f.readlines()는 각 줄마다 리스트의 원소로 적용, 리스트 형태로 반환

# read한 값은 반드시 print를 해줘야 보인다!! print(f2.read())

# 파일 열었으면 반드시 f.close()!

# 읽어온 파일 다시 쓸 때 반드시 strip()으로 공백 제거 해줄 것!
# 또한, write 시, \n으로 개행을 추가할 것!

# replace 함수를 쓰려면, 문자열 형태로 받아와야 하므로, read()

# 읽어온 파일의 내용은 str이므로, 숫자 계산시 반드시 int로 변환!!

# numpy에서 등간격 linspace는 맨 끝 숫자 포함!

# 넘파이는 바로 인덱싱하여 거르기 가능 y[y > .5] = .5

In [53]:
# 문자열 앞에 공백 24개를 추가하시오

str2 = "PYTHON"
print("%30s" %str2)

                        PYTHON

In [2]:
# 인덱싱 숫자 주의! ( 맨 뒤는 포함 안함 )

# 홍길동 씨의 주민번호는 881120-1068234
# 홍길동씨의 주민등록번호를 (YYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력

number = "881120-1068234"
print(number[:6])
print(number[7:])

881120
1068234

In [3]:
#문제2 
a = ['Life','is','too','short']
' '.join(a)

'Life is too short'

In [4]:
# 단일 튜플시 주의!

#문제3
t = (1,2,3)
# t=t+(4)     #에러 
t=t+(4,)
t

(1, 2, 3, 4)

In [6]:
# 찾는 키가 없으면 특정 값 출력

#4
a = {'A':90, 'B':80}
a.get('C', 70)

{'A': 90, 'B': 80}

In [7]:
# for문 안돌리고 최소값 찾으려면 values()로 가져온다!

#5
a = {'A':90, 'B':80, 'C':70}
b = a.values()
print(min(a.values()))
print(min(b))

70
70

In [8]:
# 리스트로 변환하려면 일단 items()로 가져온다!

#6
a= {'A':90, 'B':80, 'C':70}
c = a.items()
d = list(c)
d

[('A', 90), ('B', 80), ('C', 70)]

In [9]:
# 세트형 만들기 ()붙이기!

a = set()
type(a)
a

set()

In [10]:
# 세트형 이어붙이려면 update!

#%%연습문제 5.
a = {'a', 'b', 'c'}
b = {'d', 'e', 'f'}

a.update(b)
print(a)

{'e', 'b', 'c', 'a', 'f', 'd'}

In [11]:
# not in과 in 주의!!

'a' not in [1, 2, 3]

True

In [12]:
# 문제는 '제거'지만, replace로도 제거 가능!

#%% 26
phone_number = "010-1111-2222"

#26-1
nohyphen=phone_number.replace("-","")
print(nohyphen)

01011112222

In [13]:
# 리스트의 특정 위치에 값 추가하려면 insert!

#%% 43
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,'슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [14]:
# for문 안돌리고 sum 가져올 수 있다. (dict의 values나 list 내용들)

#%% 50
nums = [1, 2, 3, 4, 5, 6, 7]

print(sum(nums)/len(nums))

4.0

In [15]:
# 리스트의 내용 띄어쓰기로 합치기 => join!!

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
' '.join(interest)
print(' '.join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [17]:
# 특정 문자 기준으로 쪼개기 => split!!

#%% 59
string = "삼성전자/LG전자/Naver"
interest = string.split('/')

print(interest)

['삼성전자', 'LG전자', 'Naver']

In [16]:
# 딕셔너리도 합치려면 update

#%% 88 
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [19]:
# while은 indexing으로 접근, for는 직접 값으로 접근!

#%% ex3.
A=[20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
i = len(A)
print(i)

counter = 0
fifty = 0

while counter <i:
    if A[counter]>=50:
        fifty += A[counter]
    counter+=1
print(fifty)

10
481

In [20]:
#ex3. for문 이용하기

A = [20,55,67,82,45,33,90,87,100,25]
fifty_above = 0

for a in A:
    if a >= 50:
        fifty_above += a
        
print(fifty_above)

481

In [21]:
# pop() 사용!

#%% ex 3.(pop())
A=[20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result=0
marker=0

while A:
    marker=A.pop()
    if marker>=50:
        result+=marker
        
print(result)

#%%

481

In [22]:
# range 주의!! / print 형식 확인

#1

for i in range(1,101):
    print(i, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [23]:
# dict 만들어서 값 넣고 추가!!

#문제4 for 문을 이용하여 각 혈액형 별 학생수의 합계를 구하시오.

data = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
result = {}

for blood_type in data:
    if blood_type in result:
        result[blood_type] += 1
    # if not blood_type in result: 로도 쓸 수 있음!!
    else:
        result[blood_type] = 1
        
print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}

In [24]:
# 주의!!

house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

for x in house :
    # print는 str타입만 concatenate 할 수 있으므로, 꼭 str로 변환한다!!
    print("the " + x[0] + " is " + str(x[1]) + " sqm")

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

In [25]:
# 소수점 아래 몇 째 자리까지?

for i in house:
    print("the %s is %0.2f sqm" % (i[0],i[1]))

the hallway is 11.25 sqm
the kitchen is 18.00 sqm
the living room is 20.00 sqm
the bedroom is 10.75 sqm
the bathroom is 9.50 sqm

In [55]:
# 뒤쪽에 break 있으므로, i += 1과 k += 1의 위치 살피기

# 53
n = 2
k = 0

for i in range(n):
    i += 1
    print('-- %d ---' %i)
    for k in range(9):
        k += 1
        #print(f'{i} * {k} = {i * k}')
        print('%d * %d = %d' %(i, k, i*k))
    
    # 여기서 탈출!
    if i > 2:
        break

-- 1 ---
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
-- 2 ---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [29]:
# 파라미터로 값이 여러 개 들어오는 경우 *args 사용!

#%% 연습문제 2.

def avg(*args):
    result=0
    for arg in args:
        result += arg
    out = result/len(args)
    return out

output = avg(1,2,3,4,5,6,7,8,9)
print(output)

5.0

In [32]:
# input에서 int 따로 안하면 그냥 str로 인식!

#연습문제 1.
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

print(input1 + input2)

total = int(input1) + int(input2)
print("두 수의 합은 %i 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
36
두 수의 합은 9 입니다

In [33]:
# read한 값은 반드시 print를 해줘야 보인다!!
# 또한, 반드시 f.close()!

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

In [42]:
# with open 사용법

#%% 연습문제 1.-1
with open("test.txt","w") as f1:
    f1.write("Life is too short, you need python")

with open("test.txt", 'r') as f2:
    print(f2.read())

Life is too short, you need python

In [35]:
# reversed()로 내용 뒤집기!

#%% 연습문제 3.
f = open('abc.txt', 'r')
lines = f.readlines()  # 모든 라인을 리스트 형식으로 읽음
f.close()
#print(lines)

rlines = reversed(lines)  # 읽은 라인을 역순으로 정렬, 리스트가 아닌 list_reverseiterator object

# 읽어온 파일 다시 쓸 떄 반드시 strip()으로 공백 제거 해줄 것!
# 또한, write 시, \n으로 개행을 추가할 것!

f = open('abc.txt', 'w')
for line in rlines:
    line = line.strip()  # 포함되어 있는 줄바꿈 문자 제거
    f.write(line)
    f.write('\n')  # 줄바꿈 문자 삽입
f.close()

In [36]:
# replace 함수를 쓰려면, 문자열 형태로 받아와야 하므로, read()

#%%연습문제 4
f = open('test.txt', 'r')
body = f.read()
f.close()

body = body.replace('java', 'python')

# "바꾸어 저장"해야하므로, write을 쓴다!!
f = open('test.txt', 'w')
f.write(body)
f.close()

In [37]:
# 주의!
# 각 줄마다 점수가 적혀있는데, 이를 읽히기 위해서는 리스트 형태로 가져오는게 편하므로, readlines()

#%%연습문제 5

f = open("sample.txt", 'r')
lines = f.readlines( )  # sample.txt를 줄단위로 모두 읽는다.
f.close( )

print(lines)

total = 0
for line in lines:
    score = int(line)  # 줄에 적힌 점수를 숫자형으로 변환한다.
    total += score
average = total / len(lines)
print(average)

f = open("result.txt", "w")
# 파일에 적기 위해 다시 문자형태로 변환!!
f.write(str(average))
f.close()

['70\n', '60\n', '55\n', '75\n', '95\n', '90\n', '80\n', '80\n', '85\n', '100']
79.0

In [56]:
# append 쓰지 않고 list에 값 추가

def myfunc(lst):
    
    rlst = []
    
    for i in lst:
        if i>7:
            rlst = rlst+[i]   
        # 이 아래부분은 안적어도 그만
        else:
            continue
            
    print(rlst)
    
myfunc([3,4,5,6,7,8,9,10,11,12])

[8, 9, 10, 11, 12]

In [40]:
# 모듈 사용 예시
# import 모듈명
# 모듈명.함수

import mod3

lst = mod3.num_list()
num = mod3.myfunc(lst)

print(num)

In [41]:
# 입력받아 구구단에 바로 때려박기

user_input = input("구구단을 출력할 숫자를 입력하세요(2~9):")

# int형식으로 변환!
for n in range(1, int(user_input)):
    # 10은 미포함!!
    for i in range(1, 10):
        print(i*n, end= ' ') # 한줄로 출력하기 위해 줄바꿈 문자 대신 공백문자를 마지막에 출력한다
    print(end = '\n')

구구단을 출력할 숫자를 입력하세요(2~9):5
1 2 3 4 5 6 7 8 9
2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36

In [43]:
# numpy 기초

#B15. 30부터 70까지 짝수로 이루어진 array를 만드시오 

import numpy as np
array=np.arange(30,71,2)
print(array)

[30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70]

In [44]:
#%% B19. 15부터 55까지 수로 구성된 array에서 첫 요소와 마지막 요소를 제외하고 모두 print하는 코드를 작성하시오

import numpy as np
v = np.arange(15,56)

print(v)
# 1부터니까 맨 앞 제거되고, -1 전까지니까 맨 뒤 제거됨
print(v[1:-1])

[15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38
 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55]
[16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54]

In [45]:
#%% B20. 10부터 21까지 정수로 구성되는 3x4 array를 만드시오.

import numpy as np
a = np.arange(10,22).reshape(3, 4)

print(a)

[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]]

In [46]:
# 주의!
# linspace에서 끝의 숫자는 포함!

#%% B21. 5부터 50까지 10개의 요소를 등간격으로 구성하는 array를 만드시오 

import numpy as np
v = np.linspace(5, 50, 10)

print(v)

[ 5. 10. 15. 20. 25. 30. 35. 40. 45. 50.]

In [47]:
# random 사용법, 넘파이는 바로 인덱싱하여 거르기 가능 y[y > .5] = .5
#%% A88. 6x6 random array를 만들어 .5보다 큰 요소는 값을 0.5로 바꾸시오 

import numpy as np
y = np.random.random((6,6))

print(y)

y[y > .5] = .5
print(y)

[[0.87240914 0.29507042 0.72180544 0.2696278  0.01060485 0.80726312]
 [0.80522384 0.38813768 0.28773945 0.49743063 0.36503577 0.49703242]
 [0.23377087 0.58929844 0.19881086 0.51337027 0.99161192 0.45637618]
 [0.49731867 0.39732137 0.00562107 0.92878212 0.72578187 0.98789581]
 [0.05118797 0.00899575 0.0350131  0.87035952 0.29513234 0.33048117]
 [0.50875989 0.51701022 0.82171235 0.63982399 0.38532888 0.77505562]]
[[0.5        0.29507042 0.5        0.2696278  0.01060485 0.5       ]
 [0.5        0.38813768 0.28773945 0.49743063 0.36503577 0.49703242]
 [0.23377087 0.5        0.19881086 0.5        0.5        0.45637618]
 [0.49731867 0.39732137 0.00562107 0.5        0.5        0.5       ]
 [0.05118797 0.00899575 0.0350131  0.5        0.29513234 0.33048117]
 [0.5        0.5        0.5        0.5        0.38532888 0.5       ]]

In [49]:
# DataFrame 기본 사용법

import pandas as pd
import numpy as np
df_dic={'col1': [1, 4, 3, 4, 5], 'col2': [4, 5, 6, 7, 8], 'col3': [7, 8, 9, 0, 1]}
df = pd.DataFrame(df_dic)
print(df)
df.head(2)
df.tail(2)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
3     4     7     0
4     5     8     1