In [8]:
# 시험 범위는 교수님이 올려주신 해답에 있는 문제들만 포함
# 클래스 연습문제
# 1. 문제점 찾기

class Calculator:
    def __init__(self):
        self.value = 0
        
    # 여기서 self가 빠져선 안된다!    
    def add(self, val):
        self.value += val

In [9]:
cal = Calculator()
cal.add(3)
cal.add(4)

print(cal.value)

7

In [10]:
# 2. 문제점 찾기

class Calculator:
    def __init__(self, init_value):
        self.value = init_value
        
    def add(self, val):
        self.value += val

In [11]:
# __init__에서 인자를 받도록 설정했지만, 문제에서는 인자를 넣어주지 않아 오류 발생!

cal = Calculator(0)
cal.add(3)
cal.add(4)

print(cal.value)

7

In [12]:
# 3. UpgradeCalculator라는 자식 클래스를 만들고, minus 함수 만들기

class Calculator:
    def __init__(self):
        self.value = 0
         
    def add(self, val):
        self.value += val
        
class UpgradeCalculator(Calculator):
    def minus(self, val):
        self.value -= val

In [13]:
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

In [7]:
# 4. MaxLimitCalculator라는 자식 클래스 만들기.
# MaxLimitCalculator는 100을 넘어가는 합은 100으로 출력하도록 하는 클래스

class Calculator:
    def __init__(self):
        self.value = 0
        
    def add(self, val):
        self.value += val
        
class MaxLimitCalculator(Calculator):
    def add(self, val):
        #self.value += val
        super().add(val)
        if (self.value >= 100):
            self.value = 100

In [8]:
cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

In [19]:
# 종합 실습문제

# 5.1
# zoo.py 모듈에서 "Open 9-5 daily" 문자열을 반환하는 hours() 함수를 정의하라.
# 그리고 zoo 모듈을 임포트하여 hours() 함수를 호출하시오

import zoo

zoo.hours()

Open 9-5 daily

In [20]:
# 5.2
# zoo 모듈을 menageria 라는 이름으로 import한 후 hours() 함수를 호출하라

import zoo as menageria

menageria.hours()

Open 9-5 daily

In [21]:
# 5.4
# key:value 쌍이 'a':1, 'b':2, 'c':3 인 plain 딕셔너리를 만들어서 출력한 후,
# 'a'의 value를 'something for a '로 바꾸어 출력하시오.

plain = {'a':1, 'b':2, 'c':3}
print(plain)
plain['a'] = 'something for a '
print(plain)

{'a': 1, 'b': 2, 'c': 3}
{'a': 'something for a ', 'b': 2, 'c': 3}

In [29]:
# 4.1
# guess_me 변수에 7을 할당한다.
# 그리고 값이 7보다 작으면 문자열 'too low'를,
# 7보다 크면 'too high'를,
# 7과 같으면 'just right'를 출력하는 조건문(if, elif, else) 를 작성하라.

guess_me = 7

if guess_me < 7:
    print("too low")
elif guess_me > 7:
    print("too high")
else:
    print("just right")

just right

In [32]:
# 4.2
# guess_me 변수에 7을 할당하고 start 변수에 1을 할당한다.
# start와 guess_me를 비교하는 while 문을 작성하라.
# start가 guess_me보다 작은 경우에는 'too low'를 출력하고 start와 guess_me가 같은 경우에는 'found it!'을 출력하고 루프를 종료한다.
# start가 guess_me보다 큰 경우에는 'oops'를 출력하고 루프를 종료한다.

# start에서 += 1을 하도록 한다. 그렇지 않으면 무한루프

guess_me = 7
start = 1

while(1):
    if (start < guess_me):
        print("too low")
    elif (start == guess_me):
        print("found it!")
        break
    else:
        print("oops")
        break
        
    start += 1

too low
too low
too low
too low
too low
too low
found it!

In [5]:
# 5.1 같은 숫자가 나올때까지 주사위 3개를 동시에 무한 반복해서 던집니다.
# 같은 숫자는 무엇이고 같은 숫자가 나올때까지 몇번 던졌는지 출력하시오.
# 다음 코드를 이용하시오.

import random

count = 0

while True:
    a = random.randrange(1,7)
    b = random.randrange(1,7)
    c = random.randrange(1,7)
    
    count += 1
    
    if (a == b and b == c):
        print(a)
        print(count)
        break

4
88

In [44]:
# 6.1
# 사용자가 숫자를 여러개 입력하면 '+'문자를 입력한 숫자만큼 출력하는 코드를 만들어 실행하시오.
# 예를 들어 6398을 입력하면 6개, 3개, 9개, 8개의 '+'을 각기 다른 줄에 출력하시오.

sentence = int(input("숫자를 입력하세요 : "))

my_list = []

while (1):
    if (sentence == 0):
        break
        
    remain = sentence % 10
    my_list.append(remain * "+")
    
    sentence //= 10
    
my_list.reverse()
    
for i in my_list:
    print(i)

숫자를 입력하세요 : 333
+++
+++
+++

In [57]:
# 1.2 숫자 맞히기 게임
# 사용자가 1부터 10까지의 숫자 중 하나를 입력하여 미리 지정된 숫자를 맞히는 프로그램이다.
# 3회까지만 시도할 수 있다.
# guess_num() 함수를 호출하여 실행한다.

import random
    
def guess_num():
    number = random.randint(1,10)
    count = 0
    
    while True:
        if (count == 3):
            print("숫자를 맞히지 못했습니다!")
            break
            
        user = int(input("숫자를 입력하세요 : "))
        
        if (number == user):
            print("맞았습니다!")
            break
            
        count += 1
        
guess_num()

숫자를 입력하세요 : 1
맞았습니다!

In [65]:
# 6.3 (비밀번호 생성기 함수)
# 알파벳 문자열과 정수를 패러미터로 받아 정수에 해당하는 갯수의 알파벳을 문자열에서 랜덤하게 선택해 비밀번호를 생성하는 함수
# create_password_generator() 함수를 만드시오.(random.choice()함수를 사용하시오)

def create_password_generator(string, integer):
    ans = ""
    integer = int(integer)
    for i in range(integer):
        ans += random.choice(string)
    return ans
        
print(create_password_generator('aoei340958u20fhjapwe','6'))

eufiu4

In [78]:
# 7.1
# range를 매개변수로 받아 숫자들을 쉼표(,)로 연결해 리턴하는 join_numbers 함수를 만드시오.
# 즉, range(9)를 매개변수로 넣으면 다음과 같은 문자열을 리턴하시오.
# 0,1,2,3,4,5,6,7,8

def join_numbers(num):
    my_list = []
    for i in num:
        my_list.append(i)
    
    ans = ""
    for i in my_list:
        ans += str(i)
        
    print(",".join(ans))
    
join_numbers(range(9))

0,1,2,3,4,5,6,7,8

In [18]:
# 181
# 데이터 파일을 읽어들여 연도별 출생아 수를 계산하시오.

def count_baby():
    myRange = range(1880, 2022)

    for i in myRange:
        fileName = "yob" + str(i) + ".txt"
        
        f = open(fileName, "r")
        
        count = 0
        
        lines = f.readlines()
        
        f.close()
        
        for line in lines:
            line.strip()
            number = line.split(",")
            # 주의!! int로 바꿀것!!
            count += int(number[2])
                
        f = open("baby_born.csv", 'a')
        f.write("%s년 : %d명" %(i, count))
        f.write('\n')
        f.close()
        
        print("%s년 : %d명" %(i, count))
        
count_baby()
# 연도별 텍스트를 한줄씩 읽고 출생아 수만 추출하시오.
# 그 결과값을 baby_born.csv 파일에 연도별로 저장하시오.
# count_baby() 함수를 만들어 실행하시오.

1880년 : 201484명
1881년 : 192690명
1882년 : 221533명
1883년 : 216944명
1884년 : 243461명
1885년 : 240854명
1886년 : 255317명
1887년 : 247393명
1888년 : 299473명
1889년 : 288946명
1890년 : 301401명
1891년 : 286671명
1892년 : 334374명
1893년 : 325224명
1894년 : 338691명
1895년 : 351021명
1896년 : 357484명
1897년 : 346957명
1898년 : 381456명
1899년 : 339232명
1900년 : 450270명
1901년 : 345812명
1902년 : 386733명
1903년 : 381201명
1904년 : 403486명
1905년 : 423926명
1906년 : 428454명
1907년 : 465392명
1908년 : 488651명
1909년 : 511224명
1910년 : 590714명
1911년 : 644279명
1912년 : 988066명
1913년 : 1137113명
1914년 : 1416345명
1915년 : 1832436명
1916년 : 1934426명
1917년 : 2006757명
1918년 : 2171117명
1919년 : 2110266명
1920년 : 2262657명
1921년 : 2334524명
1922년 : 2289171명
1923년 : 2302520명
1924년 : 2381649명
1925년 : 2333341명
1926년 : 2295924명
1927년 : 2319353명
1928년 : 2260952명
1929년 : 2192195명
1930년 : 2223347명
1931년 : 2104350명
1932년 : 2111261명
1933년 : 1999375명
1934년 : 2076731명
1935년 : 2089803명
1936년 : 2077521명
1937년 : 2130581명
1938년 : 2212547명
1939년 : 2203412명
1940년 : 2302557명
1941년 : 2436286명
1942년 : 2731709명
1943년 : 2822455명
1944년 : 2689991명
1945년 : 2652802명
1946년 : 3195203명
1947년 : 3602206명
1948년 : 3452414명
1949년 : 3484701명
1950년 : 3503444명
1951년 : 3683790명
1952년 : 3798047명
1953년 : 3853636명
1954년 : 3980810명
1955년 : 4015136명
1956년 : 4123559명
1957년 : 4200929명
1958년 : 4132611명
1959년 : 4156655명
1960년 : 4153991명
1961년 : 4140745명
1962년 : 4035249명
1963년 : 3958727명
1964년 : 3887777명
1965년 : 3625782명
1966년 : 3475701명
1967년 : 3395150명
1968년 : 3378744명
1969년 : 3475879명
1970년 : 3607127명
1971년 : 3432690명
1972년 : 3143551명
1973년 : 3017417명
1974년 : 3040434명
1975년 : 3020030명
1976년 : 3034943명
1977년 : 3177004명
1978년 : 3174523명
1979년 : 3327642명
1980년 : 3445130명
1981년 : 3459854명
1982년 : 3508438명
1983년 : 3463680명
1984년 : 3488848명
1985년 : 3569087명
1986년 : 3556994명
1987년 : 3605438명
1988년 : 3694665명
1989년 : 3844301명
1990년 : 3951988명
1991년 : 3894936명
1992년 : 3840831명
1993년 : 3769905명
1994년 : 3717252명
1995년 : 3661787명
1996년 : 3646813명
1997년 : 3625428명
1998년 : 3677879명
1999년 : 3693472명
2000년 : 3779380명
2001년 : 3742717명
2002년 : 3737470명
2003년 : 3801458명
2004년 : 3819947명
2005년 : 3843683명
2006년 : 3954727명
2007년 : 3996082명
2008년 : 3928795명
2009년 : 3818183명
2010년 : 3693639명
2011년 : 3655347명
2012년 : 3654651명
2013년 : 3642417명
2014년 : 3702773명
2015년 : 3696689명
2016년 : 3663887명
2017년 : 3570234명
2018년 : 3508655명
2019년 : 3461444명
2020년 : 3327419명
2021년 : 3361375명

In [26]:
# 다시풀기!!

# 181_1.
# 데이터 파일을 읽어들여 연도별 성별 출생아 수를 계산하시오.
# 그 결과값을 baby_born_1.csv 파일에 연도별, 성별로 저장하시오.
# count_baby_gender() 함수를 만들어 실행하시오.

def count_baby_gender():
    myRange = range(1880, 2022)

    for i in myRange:
        fileName = "yob" + str(i) + ".txt"
        
        f = open(fileName, "r")
        
        lines = f.readlines()
        
        f.close()
        
        maleCount = 0
        femaleCount = 0
        
        for line in lines:
            if line.strip().split(",")[1] == 'F':
                femaleCount += int(line.strip().split(",")[-1])
            else:
                maleCount += int(line.strip().split(",")[-1])
                
        f = open("baby_born_1.csv", 'a')
        f.write("%s년 - male : %d명 female : %d명" %(i, maleCount, femaleCount))
        f.write('\n')
        f.close()
        
        print("%s년 - male : %d명 female : %d명" %(i, maleCount, femaleCount))
        
count_baby_gender()

1880년 - male : 110490명 female : 90994명
1881년 - male : 100737명 female : 91953명
1882년 - male : 113686명 female : 107847명
1883년 - male : 104625명 female : 112319명
1884년 - male : 114442명 female : 129019명
1885년 - male : 107799명 female : 133055명
1886년 - male : 110784명 female : 144533명
1887년 - male : 101411명 female : 145982명
1888년 - male : 120851명 female : 178622명
1889년 - male : 110580명 female : 178366명
1890년 - male : 111024명 female : 190377명
1891년 - male : 101191명 female : 185480명
1892년 - male : 122035명 female : 212339명
1893년 - male : 112319명 female : 212905명
1894년 - male : 115769명 female : 222922명
1895년 - male : 117394명 female : 233627명
1896년 - male : 119566명 female : 237918명
1897년 - male : 112757명 female : 234200명
1898년 - male : 122686명 female : 258770명
1899년 - male : 106210명 female : 233022명
1900년 - male : 150477명 female : 299793명
1901년 - male : 106467명 female : 239345명
1902년 - male : 122658명 female : 264075명
1903년 - male : 119231명 female : 261970명
1904년 - male : 128124명 female : 275362명
1905년 - male : 132308명 female : 291618명
1906년 - male : 133155명 female : 295299명
1907년 - male : 146826명 female : 318566명
1908년 - male : 154338명 female : 334313명
1909년 - male : 163996명 female : 347228명
1910년 - male : 194209명 female : 396505명
1911년 - male : 225969명 female : 418310명
1912년 - male : 429946명 female : 558120명
1913년 - male : 512566명 female : 624547명
1914년 - male : 654765명 female : 761580명
1915년 - male : 848579명 female : 983857명
1916년 - male : 890089명 female : 1044337명
1917년 - male : 925488명 female : 1081269명
1918년 - male : 1013485명 female : 1157632명
1919년 - male : 980141명 female : 1130125명
1920년 - male : 1064364명 female : 1198293명
1921년 - male : 1101461명 female : 1233063명
1922년 - male : 1088167명 female : 1201004명
1923년 - male : 1096131명 female : 1206389명
1924년 - male : 1132768명 female : 1248881명
1925년 - male : 1115938명 female : 1217403명
1926년 - male : 1110521명 female : 1185403명
1927년 - male : 1126937명 female : 1192416명
1928년 - male : 1107630명 female : 1153322명
1929년 - male : 1075640명 female : 1116555명
1930년 - male : 1097399명 female : 1125948명
1931년 - male : 1039637명 female : 1064713명
1932년 - male : 1044134명 female : 1067127명
1933년 - male : 991468명 female : 1007907명
1934년 - male : 1032528명 female : 1044203명
1935년 - male : 1041261명 female : 1048542명
1936년 - male : 1037167명 female : 1040354명
1937년 - male : 1066586명 female : 1063995명
1938년 - male : 1109113명 female : 1103434명
1939년 - male : 1106797명 female : 1096615명
1940년 - male : 1159091명 female : 1143466명
1941년 - male : 1228199명 female : 1208087명
1942년 - male : 1381031명 female : 1350678명
1943년 - male : 1427204명 female : 1395251명
1944년 - male : 1362800명 female : 1327191명
1945년 - male : 1345744명 female : 1307058명
1946년 - male : 1623928명 female : 1571275명
1947년 - male : 1829482명 female : 1772724명
1948년 - male : 1754564명 female : 1697850명
1949년 - male : 1773819명 female : 1710882명
1950년 - male : 1790390명 female : 1713054명
1951년 - male : 1882906명 female : 1800884명
1952년 - male : 1943720명 female : 1854327명
1953년 - male : 1972329명 female : 1881307명
1954년 - male : 2038848명 female : 1941962명
1955년 - male : 2059866명 female : 1955270명
1956년 - male : 2115635명 female : 2007924명
1957년 - male : 2156314명 female : 2044615명
1958년 - male : 2121330명 female : 2011281명
1959년 - male : 2133564명 female : 2023091명
1960년 - male : 2131990명 female : 2022001명
1961년 - male : 2122910명 female : 2017835명
1962년 - male : 2068665명 female : 1966584명
1963년 - male : 2031329명 female : 1927398명
1964년 - male : 1992920명 female : 1894857명
1965년 - male : 1860668명 female : 1765114명
1966년 - male : 1783652명 female : 1692049명
1967년 - male : 1744161명 female : 1650989명
1968년 - male : 1738442명 female : 1640302명
1969년 - male : 1788871명 female : 1687008명
1970년 - male : 1858974명 female : 1748153명
1971년 - male : 1768957명 female : 1663733명
1972년 - male : 1622339명 female : 1521212명
1973년 - male : 1559166명 female : 1458251명
1974년 - male : 1572931명 female : 1467503명
1975년 - male : 1562109명 female : 1457921명
1976년 - male : 1569753명 female : 1465190명
1977년 - male : 1643807명 female : 1533197명
1978년 - male : 1642611명 female : 1531912명
1979년 - male : 1722263명 female : 1605379명
1980년 - male : 1784689명 female : 1660441명
1981년 - male : 1791829명 female : 1668025명
1982년 - male : 1815073명 female : 1693365명
1983년 - male : 1793061명 female : 1670619명
1984년 - male : 1805114명 female : 1683734명
1985년 - male : 1848322명 female : 1720765명
1986년 - male : 1841534명 female : 1715460명
1987년 - male : 1866914명 female : 1738524명
1988년 - male : 1914007명 female : 1780658명
1989년 - male : 2000815명 female : 1843486명
1990년 - male : 2053639명 female : 1898349명
1991년 - male : 2020065명 female : 1874871명
1992년 - male : 1997084명 female : 1843747명
1993년 - male : 1961000명 female : 1808905명
1994년 - male : 1931713명 female : 1785539명
1995년 - male : 1903403명 female : 1758384명
1996년 - male : 1894010명 female : 1752803명
1997년 - male : 1884923명 female : 1740505명
1998년 - male : 1911145명 female : 1766734명
1999년 - male : 1919887명 female : 1773585명
2000년 - male : 1963670명 female : 1815710명
2001년 - male : 1942492명 female : 1800225명
2002년 - male : 1941037명 female : 1796433명
2003년 - male : 1974801명 female : 1826657명
2004년 - male : 1984282명 female : 1835665명
2005년 - male : 1996542명 female : 1847141명
2006년 - male : 2054352명 female : 1900375명
2007년 - male : 2074427명 female : 1921655명
2008년 - male : 2038995명 female : 1889800명
2009년 - male : 1982310명 female : 1835873명
2010년 - male : 1917416명 female : 1776223명
2011년 - male : 1897685명 female : 1757662명
2012년 - male : 1895285명 female : 1759366명
2013년 - male : 1889640명 female : 1752777명
2014년 - male : 1918546명 female : 1784227명
2015년 - male : 1914078명 female : 1782611명
2016년 - male : 1894723명 female : 1769164명
2017년 - male : 1847191명 female : 1723043명
2018년 - male : 1811738명 female : 1696917명
2019년 - male : 1788414명 female : 1673030명
2020년 - male : 1718248명 female : 1609171명
2021년 - male : 1734277명 female : 1627098명