In [1]:
# For문

test_list = [1, 2, 3]

for i in test_list:
    print(i)

1
2
3

In [7]:
# 튜플인 경우
test_list = [(1,2), (2,3), (3,4)]

for i in test_list:
    print("각 요소 출력")
    print(i)
    
# 이렇게 하면, 리스트 내의 튜플의 각 원소가 () (괄호) 없이 출력됨!
for i, j in test_list:
    print("각 요소를 괄호 없이 출력")
    print(i, j)
    print("합 출력")
    print(i + j)
    
test_list2 = (1,2,3,4)

for i in test_list2:
    print("각 원소 출력")
    print(i)

각 요소 출력
(1, 2)
각 요소 출력
(2, 3)
각 요소 출력
(3, 4)
각 요소를 괄호 없이 출력
1 2
합 출력
3
각 요소를 괄호 없이 출력
2 3
합 출력
5
각 요소를 괄호 없이 출력
3 4
합 출력
7
각 원소 출력
1
각 원소 출력
2
각 원소 출력
3
각 원소 출력
4

In [5]:
marks = [90, 25, 67, 45, 80]
number = 0

for mark in marks:
    # number는 카운터 역할.
    # C언어에서 인덱스 역할 대신에 number로 기록
    # 왜냐면 mark는 index가 아닌, 값 자체를 가리키기 때문
    number += 1
    
    if mark >= 60:
        print(f'{number}번 학생은 합격입니다.')
        #print("%d번 학생은 합격입니다." %number)
    else:
        print(f'{number}번 학생은 불합격입니다.')
        #print("%d번 학생은 불합격입니다." %number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [11]:
# range : 범위를 나타내는 함수

# 콤마 생략 시, 시작하는 범위의 인덱스 값은 0
# a는 10만 썼지만, 0부터 9까지를 의미

# 10은 포함 안됨!!!!!

a = range(10)
b = range(1, 10)
print(a)
print(b)

# list(a)한다고 해서 a가 리스트로 바뀌는건 아님. print를 통해 일시적으로 바뀐 형태를 출력했을 뿐
print(list(a))
print(a)

range(0, 10)
range(1, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0, 10)

In [15]:
# 구구단 만들기

# 단 수는 2부터 시작하므로
for i in range(2, 10):
    for j in range(1, 10):
        # print는 원래 end의 default 값으로 '\n'이 들어감
        # 그래서 구구단을 예쁘게 출력하기 위해서는 다음의 작업이 필요
        # end=" "를 통해, 마지막에 공백을 추가
        print(i*j, end=" ")
    # print('\n') 하면 2단과 3단 사이에 비어있는 한 줄이 추가되어, 출력 형태가 달라짐
    # indentation의 위치가 중요함
    print(" ")

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [20]:
# 함수

# default값 지정시 = 1, = 2를 추가한다.
def minus(a = 1, b = 2):
    result = a - b
    return result

a = minus(3, 7)
print(a)
# parameter에 대응하는 값을 argument로 직접 입력하는 경우
b = minus(b = 3, a = 7)
print(b)
# default값 지정 시 argument를 넣지 않았을 때 그대로 출력
print(minus())

-4
4
-1

In [21]:
# parameter가 없는 함수

def say():
    return 'Hi!'

say()

'Hi!'

In [22]:
# return 값이 없는 경우

def minus2(a,b):
    print(f'{a - b} hello')
    
minus2(1, 2)

-1 hello

In [23]:
# print도 하고 return도 함

def minus3(a,b):
    print('hello')
    return a - b

minus3(1, 2)

hello

-1

In [25]:
# 입력 값이 몇 개인지 모르는 경우 (입력 값이 여러 개인 경우) : parameter에 *를 사용

def add_many(*args):
    add = 0
    
    for i in args:
        add += i
        
    return add

print(add_many(1, 2, 3, 4, 5))

15

In [ ]:
# 키워드 파라미터 kwargs

def func(**kwargs):
    print(kwargs)
    
func(a = 1, name = 'foo', age = 40)